.summary,
.preamble,
.main {
   animation-name: pageload;
   animation-duration: 6s;
   animation-delay: 3s;
   animation-fill-mode: both;

}

@keyframes pageload {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}


header::before {
   animation-name: cloud-drift;
   animation-duration: 360s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

header::after {
   animation-name: cloud-drift2;
   animation-duration: 760s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;

}

@keyframes cloud-drift {
   0% {
      transform: translateX(0);
   }

   50% {
      transform: translateX(100vw);
   }

   50.001% {
      transform: translateX(-100vw);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes cloud-drift2 {
   0% {
      transform: translateX(10vw);

   }

   50% {
      transform: translateX(110vw);

   }

   50.0001% {
      transform: translateX(-90vw);
   }

   100% {
      transform: translateX(10vw);
   }
}


body::before {
   animation-name: rolling-waves;
   animation-duration: 300s;
   // animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-timing-function: linear;

}

@keyframes rolling-waves {
   from {
      transform: translateX(0);
   }

   to {
      transform: translateX(8000px);
   }
}

.participation::before,
.explanation::before,
.benefits::before,
.requirements::before {
   animation-name: rising-bubbles;
   animation-duration: 20s;
   animation-timing-function: ease-in;
   animation-iteration-count: infinite;
   animation-fill-mode: both;
}

.explanation::before {
   animation-delay: 5s;
}

.benefits::before {
   animation-delay: 10s;
}

.requirements::before {
   animation-delay: 15s;
}

@keyframes rising-bubbles {
   0% {
      opacity: 0;
      transform: translateY(0);
   }

   50% {
      opacity: 1;
   }

   100% {
      opacity: 0;
      transform: translateY(-300px);
   }
}

footer::before {
   animation-name: rising-bubbles2;
   animation-duration: 30s;
   animation-timing-function: ease-in;
   animation-iteration-count: infinite;
   animation-fill-mode: both;
}

@keyframes rising-bubbles2 {
   0% {
      opacity: 0;
      transform: translateY(-50px);
   }

   50% {
      opacity: 1;
   }

   100% {
      opacity: 0;
      transform: translateY(-700px);
   }
}