// variables
$horizon-y: 80vh;
$boat-x: 20vw;

.page-wrapper {
   background: rgba(103, 179, 237, 1);
   background: linear-gradient(180deg, rgba(103, 179, 237, 1) 0%, rgba(173, 224, 221, 1) 56%, rgba(249, 233, 134, 1) 100%),
      linear-gradient(356deg, rgba(3, 14, 113, 1) 0%, rgba(39, 76, 187, 1) 30%, rgba(0, 212, 255, 1) 100%);
   background-size: 100% $horizon-y,
   auto calc(100% - #{$horizon-y});
   background-position-y: top, $horizon-y;
   background-repeat: no-repeat, no-repeat;

   &::after {
      content: "";
      display: block;
      background-image: url("./images/wide-whale.svg");
      width: 80%;
      height: 50vw;
      position: relative;
      left: 5%;
      background-repeat: no-repeat;
      background-size: contain;
   }
}

.intro {
   &::before {
      content: "";
      background-image: url("./images/fisherman.svg");
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      height: 150px;
      width: 500px;
      position: relative;
      bottom: calc(87px - #{$horizon-y});
      left: 50vw;
   }
}

body {
   margin: 0;
   width: 100%;
}