body {
   position: relative;

   background: linear-gradient($sky-1 30%, $sky-2), linear-gradient($water-1, $water-2);
   background-size: auto $horizon-y,
   auto calc(100% - #{$horizon-y} + #{$page-y-drop});
   background-position-y: top, $horizon-y;
   background-repeat: no-repeat, no-repeat;
   max-width: 100%;
   overflow-x: hidden;
}

body::before {
   content: "";
   display: block;
   position: absolute;
   background-image: url("./images/waves2-01.svg");
   background-repeat: repeat-x;
   background-size: calc(1316px / 2) calc(40.8px / 2);
   width: 20000px;
   height: 41px;
   right: 0;
   right: -20vw;
   top: calc(81.5vh - 22px);
   z-index: 2;
}

.page-wrapper {
   display: block;
   position: relative;
   top: 85vh;

   &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("./images/fisherman.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 150px;
      height: 150px;
      right: 17vw;
      top: calc(-5vh - 85px);
      transform: scaleX(-1);
      filter: FlipH;
   }

   &::after {
      content: "";
      display: block;
      position: relative;
      background-image: url("./images/vertical-whale.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 97vw;
      left: 5%;
      transform: scaleX(-1);
   }
}

@media (min-width: 40em) {
   .page-wrapper::after {
      content: "";
      display: block;
      position: relative;
      background-image: url("./images/wide-whale.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 50vw;
      left: 2%;
      transform: scaleX(1);
   }


}

header {
   position: absolute;
   top: -70vh;
   right: 17vw;
   text-align: right;
   padding-left: .5em;


   &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("./images/cloud-sm.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 45vw;
      height: 20vh;
      top: -18vh;
      left: 0;
      z-index: -1;
   }

   &::after {
      content: "";
      display: block;
      position: absolute;
      background-image: url("./images/cloud-sm.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 30vw;
      height: 10vh;
      top: 13vh;
      left: 20vw;
      z-index: -1;
   }
}


@media (min-width: 30em) {
   .intro {
      header {
         h1 {
            font-size: 3vw;
         }

         h2 {
            font-size: 6vw;
         }
      }
   }

   .participation::before,
   .explanation::before,
   .benefits::before,
   .requirements::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("./images/bubbles.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 10vw;
      height: 10vh;
      // top: 13vh;
      // left: 20vw;
   }

   .benefits::before,
   .explanation::before {
      right: calc(100vw / 12 * 2);
      // transform: scaleX(-1);
      // filter: FlipH;
   }
}

@media (min-width: 60em) {
   footer::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("./images/bubbles.svg");
      background-repeat: no-repeat;
      // background-size: 135.01px 209.83px;
      width: 135.01px;
      height: 209.83px;
      right: calc(100vw / 12 * 3);
      // transform: scale(-2);
   }
}