// variables
$horizon-y: 90vh;
$boat-x: 10vw;

// .page-wrapper {
   body {
   background: linear-gradient($sky-1 30%, $sky-2), linear-gradient($water-1, $water-2);
   background-size: 100% $horizon-y,
   auto calc(100% - #{$horizon-y});
   background-position-y: top, $horizon-y;
   background-repeat: no-repeat, no-repeat;

   &::after {
      content: "";
      display: block;
      background-image: url("./images/wide-whale.svg");
      width: 80%;
      height: 50vw;
      position: relative;
      left: 5%;
      background-repeat: no-repeat;
      background-size: contain;
   }
}

// .intro {
//    &::before {
//       content: "";
//       background-image: url("./images/fisherman.svg");
//       background-repeat: no-repeat;
//       background-size: contain;
//       display: block;
//       height: 150px;
//       width: 500px;
//       position: relative;

//       bottom: calc(94px - #{$horizon-y});
//       // position: absolute;
//       // bottom: 10px;
//       left: 50vw;
//    }
// }

body {
   position: relative;

   &::before {
      content: "";
      background-image: url("./images/fisherman.svg");
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      height: 150px;
      width: 150px;
      position: absolute;
      right: 17vw;
      top: calc(#{$horizon-y} - 85px);
      transform: scaleX(-1);
    filter: FlipH;
   }
}


@media (min-width: 30em) {
   .intro {
      margin: 1vw;
   }
}