.next,.previous{
    background-color:$color-1;
    border-radius: 3rem;
    padding: 1rem;
    color: $color-3;
}

.next, .previous{
    &:hover{
        background:$color-5;
        font-weight: bold;
        
    }
}