/* -------------------------------- 

xColors

-------------------------------- */

// color palette - these colors will be the color swatches of the Colors section

//Ocean (Shallow to Deep)
$water-1: #4da6ff;
$water-2: #003366;

//Sky Color
$sky-1: #b3d4ff;
$sky-2: #ffd699;

$color-1: #275059; // Heading 1
$color-link: #66C4D9; 
$color-light: white;
$color-4: #3F3F3F; // Body Color (for light BG)
$color-5: #fe9200; // color hover on button
$color-accent: #ffcc00; 

// additional colors
$success: #6fce72; // green
$alert: #e4655f; // red