/* debugging */

// div {
//    border: 1px solid red;
// }

// ::before, ::after, header,
// .intro {
//    border: 1px solid black;
// }

// header h1 {
//    color: $color-1;
// }



// watery text shadow - prototype
.summary p,
.preamble p {
  text-shadow: 0px 5px 10px rgba(57,54,255,0.5);
}

// root {
//    font-size: 10px;
// }

// body {
//    font-size: 1.6rem;
// }