//variables
$line-height: 1.5;
$margin-body: 10px;
$padding-grid: 2em;
$padding-body: 3em;
//-----------------------------------
//basic styles
//----------------------------------- 
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0% 0;
    margin: 0;
}

body {
    display: block;
    line-height: $line-height;
    margin-left: $margin-body;
}

ul {
    list-style-type: none;
}

p {
    padding: 1em;
}

footer {
    padding: $padding-body;
    margin: $margin-body;
}


// -----------------------------------
// Mobile
// ----------------------------------- 

.wrapper {
    display: block;
    padding-left: $padding-body;
    margin: $margin-body;
}




// -----------------------------------
// Medium & Wide
// ----------------------------------- 

@media (min-width:30em) {

    // grid 1
    .intro {
        display: grid;
        grid-template-areas: repeat(6, 1fr);
        grid-template-rows: auto;

    }

    .intro header {
        grid-column: 2/ span 2;
        grid-row: 1;
        text-align: right;
        padding: $padding-body;
    }

    .summary {
        grid-column: 3 / span 3;
        grid-row: 2;
        text-align: right;
        padding: $padding-grid;

    }

    .preamble {
        grid-column: 1/ span 4;
        grid-row: 3;
        padding: $padding-grid;

    }

    // grid 2
    #zen-supporting {
        display: grid;
        grid-template-areas: repeat(6, 1fr);
        grid-template-rows: auto;

    }

    .explanation {
        grid-column: 3 / span 3;
        grid-row: 1;
        text-align: right;
        padding: $padding-grid;
    }

    .participation {
        grid-column: 1/ span 4;
        grid-row: 2;
        padding: $padding-grid;

    }

    .benefits {
        grid-column: 3/ span 3;
        text-align: right;
        grid-row: 3;
        padding: $padding-grid;
    }

    .requirements {
        grid-column: 1 / span 4;
        grid-row: 4;
        padding: $padding-grid;

    }

    // footer
    footer {
        grid-column: 3/ span 3;
        text-align: right;
        grid-row: 5;

    }

    // sidebar
    // grid 3
    .sidebar {
        font-size: smaller;

    }

    .sidebar p {
        padding: 0;
    }

    .wrapper {
        display: grid;
        grid-template-areas: repeat(8, 1fr);
        grid-template-rows: auto;
        padding-left: $padding-body;
    }

    .design-selection {
        grid-column: 1/ span 2;
        grid-row: 1;


    }

    .design-archives {
        grid-column: 3/ span 2;
        grid-row: 1;


    }

    .zen-resources {
        grid-column: 5/ span 2;
        grid-row: 1;

    }

}