//variables
$line-height: 1.5;
$margin-body: 10px;
$padding-grid: 2em;
$padding-body: 3em;

//-----------------------------------
//basic styles
//----------------------------------- 
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0% 0;
    margin: 0;
}

body {
    display: block;
    line-height: $line-height;
}

ul {
    list-style-type: none;
}

footer {
    padding: $padding-body;
    margin: $margin-body;
}


// -----------------------------------
// Mobile
// ----------------------------------- 

.page-wrapper {
    display: block;
    padding: 1.3rem;
}

.intro { margin-top: 4rem; }
.summary p:last-child { display: none; }

.preamble { margin-bottom: 5rem; }
.main {
    > div {
        margin-bottom: 5rem;
        h3 { color: #ffcc00; }
    }
    footer {
        margin-bottom: 5rem;
    }
}

.wrapper div h3 { display: none; }
.wrapper div:nth-child(2) { display: none; }

nav {
    li {
        color: white;
        border-bottom: solid white .5px;
        padding: 1.3rem;
    }
    a {
        text-decoration: none;
        color: white;
    }
}

.zen-resources {
    background-color: rgba(250, 250, 250, 0.05);
    li {
        padding: 1rem;
    }
    a {
        text-decoration: none;
        color: white;
    }
}


// -----------------------------------
// Medium & Wide
// ----------------------------------- 
@media (min-width: 30em) {
    .page-wrapper {
       position: relative;
       top: 85vh;
    }
    
    .intro {
       margin: 0;
       // position: relative;
       // top: 100vh;
 
       header {
          padding: 0;
          position : absolute;
          top: -75vh;
          right: 17vw;
 
          h1 {
             font-size: 3vw;
          }
 
          h2 {
             font-size: 6vw;
          }
       }
    }
 
    
 
    .preamble,
    .participation,
    .requirements,
    .sidebar,
    .wrapper {
       padding: 10px;
       margin: 2vw;
    }
 
 
 }

@media (min-width: 30em) {

    // grid 1
    .intro {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
     
        
    }

    .intro header {
        grid-column: 2/ span 4;
        grid-row: 1;
        text-align: right;
    }

    .summary {
        grid-column: 8 / span 3;
        grid-row: 2;
        text-align: right;
        

    }

    .preamble {
        grid-column: 1/ span 4;
        grid-row: 3;

    }

    // grid 2
    #zen-supporting {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;

    }

    .explanation {
        grid-column: -5/ span 3;
        grid-row: 1;
        text-align: right;
    }

    .participation {
        grid-column: 3/ span 4;
        grid-row: 2;

    }

    .benefits {
        grid-column: -6/ span 3;
        text-align: right;
        grid-row: 3;
    }

    .requirements {
        grid-column: 2/ span 4;
        grid-row: 4;

    }

    // footer
    footer {
        grid-column: 10/ span 3;
        text-align: right;
        grid-row: 5;

    }

    // sidebar
    // grid 3
    .sidebar {
        font-size: smaller;

    }

    .sidebar p {
        padding: 0;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        
    }

    .design-selection {
        grid-column: 1/ span 2;
        grid-row: 1;


    }

    .design-archives {
        grid-column: 5/ span 2;
        grid-row: 1;


    }

    .zen-resources {
        grid-column: 10/ span 2;
        grid-row: 1;

    }

}