

#zen-summary {
	a {
		&:hover {
			color: $color-5;
		}
	}
}
div.participation p {
	a {
		&:hover {
			color: $color-5;
		}
	}
}
.requirements{
    a{
        &:hover{
            color: $color-5;
        }
    }
}