/* -------------------------------- 

xTypography

-------------------------------- */

// fonts
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Lobster', cursive;

//font styling
header h1 {
  font-family: $primary-font;
  color: $color-1;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

header h2 {
  font-family: $secondary-font;
  color: $color-1;
  font-size: 3rem;
  line-height: 1.1;
}

// For the "CSS" in the title
abbr { text-decoration: none; }

.summary {
    p {
        font-size: 1.1rem; 
        color: $color-light;
    }
}

h3 {
  font-family: $primary-font;
  color: $color-accent;

  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

p {
  font-family: $primary-font;
  font-size: 1rem;
  line-height: 1.5;
  color: $color-light;
}

a {
  // text-decoration: none;
  color: $color-link;
}

a:hover {
  color: lighten($color-link, 10%);
}

nav {
  li {
      color: $color-light;
  }
}
