/* -------------------------------- 

xTypography

-------------------------------- */

// fonts
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Lobster', cursive;

//font styling
header h1 {
  font-family: $primary-font;
  color: $color-2;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

header h2 {
  font-family: $secondary-font;
  color: $color-1;
  font-size: 3rem;
  line-height: 1.1;
  margin: 0 0 2rem 0;
}

// For the "CSS" in the title
abbr { text-decoration: none; }

.summary {
    p {
        font-family: $primary-font;
        font-size: 1.1rem;
        line-height: 1.7rem;
        color: lighten($color-3, 25%);
      
        a {
          color: $color-2;
          text-decoration: underline;
        }
    }
    margin-bottom: 17rem;
}

h3 {
  font-family: $primary-font;
  color: $color-1;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p {
  font-family: $primary-font;
  font-size: 1rem;
  line-height: 1.4;
  color: lighten($color-3, 25%);
  margin-bottom: .5rem;

  a {
    color: $color-2;
    text-decoration: underline;
  }

//   @include MQ(S) {
//     font-size: 1.6rem;
//     line-height: 1.6;
//   }
}