@import url("https://fonts.googleapis.com/css?family=Lobster|Nunito:400,700,900&display=swap");
/* -------------------------------- 

xColors

-------------------------------- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0% 0;
  margin: 0;
}

body {
  display: block;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

footer {
  padding: 3em;
  margin: 10px;
}

.page-wrapper {
  display: block;
  padding: 1.3rem;
}

.intro {
  margin-top: 4rem;
}

.summary p:last-child {
  display: none;
}

.preamble {
  margin-bottom: 5rem;
}

.main > div {
  margin-bottom: 5rem;
}
.main > div h3 {
  color: #ffcc00;
}
.main footer {
  margin-bottom: 5rem;
}

.wrapper div h3 {
  display: none;
}

.wrapper div:nth-child(2) {
  display: none;
}

nav li {
  color: white;
  border-bottom: solid gray 0.5px;
  padding: 2rem;
}
nav a {
  text-decoration: none;
  color: white;
}

@media (min-width: 30em) {
  .page-wrapper {
    position: relative;
    top: 85vh;
  }

  .intro {
    margin: 0;
  }
  .intro header {
    padding: 0;
    position: absolute;
    top: -75vh;
    right: 17vw;
  }
  .intro header h1 {
    font-size: 3vw;
  }
  .intro header h2 {
    font-size: 6vw;
  }

  .preamble,
.participation,
.requirements,
.sidebar,
.wrapper {
    padding: 10px;
    margin: 2vw;
  }
}
@media (min-width: 30em) {
  .intro {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }

  .intro header {
    grid-column: 2/span 4;
    grid-row: 1;
    text-align: right;
  }

  .summary {
    grid-column: 8/span 3;
    grid-row: 2;
    text-align: right;
  }

  .preamble {
    grid-column: 1/span 4;
    grid-row: 3;
  }

  #zen-supporting {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }

  .explanation {
    grid-column: -5/span 3;
    grid-row: 1;
    text-align: right;
  }

  .participation {
    grid-column: 3/span 4;
    grid-row: 2;
  }

  .benefits {
    grid-column: -6/span 3;
    text-align: right;
    grid-row: 3;
  }

  .requirements {
    grid-column: 2/span 4;
    grid-row: 4;
  }

  footer {
    grid-column: 10/span 3;
    text-align: right;
    grid-row: 5;
  }

  .sidebar {
    font-size: smaller;
  }

  .sidebar p {
    padding: 0;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }

  .design-selection {
    grid-column: 1/span 2;
    grid-row: 1;
  }

  .design-archives {
    grid-column: 5/span 2;
    grid-row: 1;
  }

  .zen-resources {
    grid-column: 10/span 2;
    grid-row: 1;
  }
}
/* -------------------------------- 

xTypography

-------------------------------- */
header h1 {
  font-family: "Nunito", sans-serif;
  color: #66C4D9;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

header h2 {
  font-family: "Lobster", cursive;
  color: #275059;
  font-size: 3rem;
  line-height: 1.1;
  margin: 0 0 2rem 0;
}

abbr {
  text-decoration: none;
}

.summary {
  margin-bottom: 17rem;
}
.summary p {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: white;
}
.summary p a {
  color: #66C4D9;
  text-decoration: underline;
}

h3 {
  font-family: "Nunito", sans-serif;
  color: #275059;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: white;
  margin-bottom: 0.5rem;
}
p a {
  color: #66C4D9;
  text-decoration: underline;
}

body {
  background: linear-gradient(#b3d4ff 30%, #ffd699), linear-gradient(#4da6ff, #003366);
  background-size: 100% 80vh, auto calc(100% - 80vh + 85vh);
  background-position-y: top, 80vh;
  background-repeat: no-repeat, no-repeat;
}
body::after {
  content: "";
  display: block;
  position: relative;
  background-image: url("./images/vertical-whale.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 97vw;
  left: 5%;
  top: 85vh;
  transform: scaleX(-1);
}

body {
  position: relative;
}
body::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("./images/fisherman.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  right: 17vw;
  top: calc(80vh - 85px);
  transform: scaleX(-1);
  filter: FlipH;
}

@media (min-width: 30em) {
  body::after {
    content: "";
    display: block;
    position: relative;
    background-image: url("./images/wide-whale.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 50vw;
    left: 5%;
    transform: scaleX(1);
  }

  .intro {
    margin: 1vw;
  }
}
.summary,
.preamble {
  animation-name: pageload;
  animation-duration: 6s;
}

@keyframes pageload {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
