@import url("https://fonts.googleapis.com/css?family=Lobster|Nunito:400,700,900&display=swap");
/* -------------------------------- 

xColors

-------------------------------- */
/* -------------------------------- 

xTypography

-------------------------------- */
header h1 {
  font-family: "Nunito", sans-serif;
  color: #66C4D9;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

header h2 {
  font-family: "Lobster", cursive;
  color: #275059;
  font-size: 2.8rem;
  line-height: 1.1;
  margin: 0.5rem 0 2rem 0;
}

.summary {
  margin-bottom: 3rem;
}
.summary p {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  color: white;
}
.summary p a {
  color: #66C4D9;
  text-decoration: underline;
}

h3 {
  font-family: "Nunito", sans-serif;
  color: #275059;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  color: white;
  margin-bottom: 0.5rem;
}
p a {
  color: #66C4D9;
  text-decoration: underline;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0% 0;
  margin: 0;
}

body {
  display: block;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

footer {
  padding: 3em;
  margin: 10px;
}

.wrapper {
  display: block;
  padding-left: 3em;
}

@media (min-width: 30em) {
  .intro {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    margin: 10px;
  }

  .intro header {
    grid-column: 2/span 4;
    grid-row: 1;
    text-align: right;
    padding: 3em;
  }

  .summary {
    grid-column: 3/span 3;
    grid-row: 2;
    text-align: right;
    padding: 2em;
  }

  .preamble {
    grid-column: 1/span 4;
    grid-row: 3;
    padding: 2em;
  }

  #zen-supporting {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    margin: 10px;
  }

  .explanation {
    grid-column: 3/span 3;
    grid-row: 1;
    text-align: right;
    padding: 2em;
  }

  .participation {
    grid-column: 1/span 4;
    grid-row: 2;
    padding: 2em;
  }

  .benefits {
    grid-column: 3/span 3;
    text-align: right;
    grid-row: 3;
    padding: 2em;
  }

  .requirements {
    grid-column: 1/span 4;
    grid-row: 4;
    padding: 2em;
  }

  footer {
    grid-column: 3/span 3;
    text-align: right;
    grid-row: 5;
  }

  .sidebar {
    font-size: smaller;
  }

  .sidebar p {
    padding: 0;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    padding-left: 3em;
  }

  .design-selection {
    grid-column: 1/span 2;
    grid-row: 1;
  }

  .design-archives {
    grid-column: 3/span 2;
    grid-row: 1;
  }

  .zen-resources {
    grid-column: 5/span 2;
    grid-row: 1;
  }
}
body {
  background: #67b3ed;
  background: linear-gradient(180deg, #67b3ed 0%, #ade0dd 56%, #f9e986 100%), linear-gradient(356deg, #030e71 0%, #274cbb 30%, #00d4ff 100%);
  background-size: 100% 80vh, auto calc(100% - 80vh);
  background-position-y: top, 80vh;
  background-repeat: no-repeat, no-repeat;
}
body::after {
  content: "";
  display: block;
  background-image: url("./images/wide-whale.svg");
  width: 80%;
  height: 50vw;
  position: relative;
  left: 5%;
  background-repeat: no-repeat;
  background-size: contain;
}

body {
  position: relative;
}
body::before {
  content: "";
  background-image: url("./images/fisherman.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 150px;
  width: 150px;
  position: absolute;
  right: 17vw;
  top: calc(80vh - 85px);
  transform: scaleX(-1);
  filter: FlipH;
}

@media (min-width: 30em) {
  .intro {
    margin: 1vw;
  }
}
.summary,
.preamble {
  animation-name: pageload;
  animation-duration: 6s;
}
.summary p,
.preamble p {
  text-shadow: 0px 5px 10px rgba(57,54,255,0.5);
}

@keyframes pageload {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* debugging */
div {
  border: 1px solid red;
}

::before,
.intro {
  border: 1px solid black;
}

header h1 {
  color: #275059;
}

@media (min-width: 30em) {
  .page-wrapper {
    position: relative;
    top: 85vh;
  }

  .intro {
    margin: 0;
  }
  .intro header {
    padding: 0;
    position: absolute;
    top: -75vh;
    right: 17vw;
  }
  .intro header h1 {
    font-size: 3vw;
  }
  .intro header h2 {
    font-size: 6vw;
  }

  .summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements,
.footer,
.sidebar,
.wrapper,
#zen-supporting {
    padding: 0;
    margin: 0;
  }

  .preamble,
.participation,
.requirements,
.sidebar,
.wrapper {
    padding: 10px;
    margin: 2vw;
  }
}
root {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
